{
  "rules": [
    {"author": "foo", "weight": 50.0, "vote_delay": 30},
    {"author": "bar", "weight": 100.0, "vote_delay": 30}
  ],
  "account": "emrebeyler",
  "nodes": ["https://api.steemit.com"]
}